.app {
  min-height: 100vh;
  /* display: grid;
  grid-template-rows: min-content 1fr; */
  background-size: cover;
}

.app.home-img {
  background-image: url(./assets/home/background-home-desktop.jpg);
}

.app.destination-img {
  background-image: url(./assets/destination/background-destination-desktop.jpg);
}

.app.crew-img {
  background-image: url(./assets/crew/background-crew-desktop.jpg);
  background-position: bottom center;
}

.app.technology-img {
  background-image: url(./assets/technology/background-technology-desktop.jpg);
}

.app-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0 40px 45px;
}

.logo-container {
  width: 48px;
}

.mobile-nav-toggle {
  display: none;
  position: absolute;
  z-index: 2000;
  right: 1rem;
  top: 1.7rem;
  background: transparent;
  border: 0;
}

nav {
  background: hsl(var(--clr-light) / 0.05);
  backdrop-filter: blur(1.5rem);
}

.primary-navigation {
  display: flex;
  gap: 3.4em;
  --underline-gap: 2rem;
  list-style: none;
  margin: 0;
  padding: var(--underline-gap, 1rem) 9vw;
}

.nav-link {
  text-transform: uppercase;
  text-decoration: none;
  color: hsl(var(--clr-light));
  font-family: var(--ff-sans-cond);
  font-size: 1rem;
  /* letter-spacing: 2.7px; */
  /* line-height: 19px; */
  cursor: pointer;
  padding: var(--underline-gap, 1rem) 0;
  border: 0;
  border-bottom: .2rem solid hsl(var(--clr-white) / 0);
}

.nav-link.active {
  border-color: hsl(var(--clr-white));
}

.nav-link span {
  font-weight: 700;
  margin-right: 10px;
}

.underline-indicators>*:focus {
  border-color: hsl(var(--clr-white) / .5);
}

@media (hover: hover) {

  .nav-link:hover {
    border-color: hsl(var(--clr-white) / .5);
  }

  .mobile-nav-toggle {
    cursor: pointer;
  }
}

@media (max-width: 49em) {

  .app-header {
    padding-top: 0;
  }

  .app.home-img {
    background-position: center center;
    background-image: url(./assets/home/background-home-tablet.jpg);
  }

  .app.app.destination-img {
    background-image: url(./assets/destination/background-destination-tablet.jpg);
  }

  .app.crew-img {
    background-image: url(./assets/crew/background-crew-tablet.jpg);
  }

  .app.technology-img {
    background-image: url(./assets/technology/background-technology-tablet.jpg);
  }

  .nav-link {
    font-size: 0.875rem;
  }

  .primary-navigation {
    gap: 2em;
  }
}

@media (max-width: 35em) {

  .modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  .app-header {
    padding-top: 40px;
  }

  .app.home-img {
    background-position: center center;
    background-image: url(./assets/home/background-home-mobile.jpg);
  }

  .app.destination-img {
    background-image: url(./assets/destination/background-destination-mobile.jpg);
  }

  .app.crew-img {
    background-image: url(./assets/crew/background-crew-mobile.jpg);
  }

  .app.technology-img {
    background-image: url(./assets/technology/background-technology-mobile.jpg);
  }

  .logo-container {
    position: absolute;
    left: 1rem;
    width: 40px;
  }

  .mobile-nav-toggle {
    display: block;
  }

  nav {
    z-index: 1000;
    position: fixed;
    right: 0;
    top: 0;
    min-height: 100vh;
    transform: translateX(100%);
    transition: all 200ms linear;
  }

  nav.mobile-opened {
    transform: translateX(0);
  }

  .primary-navigation {
    flex-direction: column;
    padding: 6rem 0 1rem 2rem;
  }

  .primary-navigation li {
    width: 200px;
  }

  .nav-link {
    padding: 5px 0px 5px 5px;
    font-size: 1rem;
    border: none;
    display: block;
    border-right: .2rem solid hsl(var(--clr-white) / 0);
  }

}